#pc-wrap {
	#community-list-page {
		position: relative;
		background: #fff;
		margin-top: 120px;
		.container {
			padding-top: 50px;
			flex-direction: column;
			gap: 64px;
			min-height: 1500px;
			.main-box {
				flex-direction: row;
				gap: 31px;
				.right-config {
					width: 100%;
					height: auto;
					.panel-config {
						width: 100%;
						height: auto;
						.title-box {
							width: 100%;
							height: auto;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;
							margin-bottom: 45px;
							.left {
								width: 100%;
								height: auto;
								 .left-config {
										width: 100%;
										height: fit-content;
										gap: 30px;
										margin-bottom: 50px;
										border-radius: 12px;
										flex-direction: row;
										.tab-button {
											width: 216.612px;
											height: 36px;
											justify-content: center;
											align-items: center;
											border-radius: 6px;
											margin-left: 10px;
											//background-color: #c4c4c4;
											border: 1px solid rgb(119, 118, 118);
											color: #181a20;
											font-family: $font;
											font-size: 20px;
											font-style: normal;
											font-weight: 500;
											line-height: 150%;
											letter-spacing: -0.466px;
										}
										.tab-button.active {
											width: 216.612px;
											height: 36px;
											padding: 0;
											justify-content: center;
											align-items: center;
											background-color: #626161;
											color: #ffffff;
											border-radius: 6px;
											margin-bottom: 10px;
											font-family: $font;
											font-size: 22px;
											font-style: normal;
											font-weight: 500;
											line-height: 150%;
											letter-spacing: -0.466px;
										}
										.right {
											width: 91px;
											height: 32px;
											margin-bottom: 0px;
											border-radius: 4px;
											background: #6c6968;
											color: #fff;
											font-family: $font;
											font-size: 15px;
											font-style: normal;
											font-weight: 500;
											line-height: normal;
											letter-spacing: 0.39px;
										}
									}
							}
						}
						.list-box {
							width: 100%;
							height: auto;
							flex-direction: row;
							flex-wrap: wrap;
							gap: 30px;
						}
					}
				}
			}
			.pagination-config {
				width: 100%;
				align-items: center;
				justify-content: center;
				margin-bottom: 50px;
				gap: 20px;
				//padding-left: 270px;
				.pagination-box {
					align-items: center;
					justify-content: center;
				}
				.total-result {
					p {
						color: #181a20;
						text-align: center;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
					}
				}
			}
		}
	}
}
